@charset "utf-8";
.nav-tabs {
    margin-bottom: 15px;
}
.navbar {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    -webkit-transition: min-height .25s ease, height .25s ease;
    -moz-transition: min-height .25s ease, height .25s ease;
    -ms-transition: min-height .25s ease, height .25s ease;
    -o-transition: min-height .25s ease, height .25s ease;
    transition: min-height .25s ease, height .25s ease;
}
@media (min-width: 768px)  {
    .navbar {
        min-height: 60px;
    }
}
.navbar-fixed-top {
    border-width: 0;
    z-index: 1000;
}
.admin-bar .navbar-fixed-top {
    top: 32px;
}
@media (min-width: 992px)  {
    .navbar-large {
        min-height: 80px;
    }
}
.navbar-default {
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, .15);
}
.navbar-inverse {
    background: #111;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.navbar>.container {
    position: relative;
}
.site-title {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
}
.navbar a.navbar-brand {
    padding: 9px 15px;
    color: #555;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    -webkit-transition: padding .25s ease, line-height .25s ease;
    -moz-transition: padding .25s ease, line-height .25s ease;
    -ms-transition: padding .25s ease, line-height .25s ease;
    -o-transition: padding .25s ease, line-height .25s ease;
    transition: padding .25s ease, line-height .25s ease;
}
@media (min-width: 768px)  {
    .navbar a.navbar-brand {
        padding: 14px 15px;
        height: 60px;
    }
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: inherit;
}
@media (min-width: 992px)  {
    .navbar-large a.navbar-brand {
        padding: 16px 15px;
        line-height: 48px;
        height: 80px;
    }
}
.navbar-inverse a.navbar-brand {
    color: #fff;
}
.navbar-brand>.site-logo {
    display: inline-block;
    width: auto;
    max-height: 32px;
    vertical-align: top;
    -webkit-transition: height .25s ease, max-height .25s ease;
    -moz-transition: height .25s ease, max-height .25s ease;
    -ms-transition: height .25s ease, max-height .25s ease;
    -o-transition: height .25s ease, max-height .25s ease;
    transition: height .25s ease, max-height .25s ease;
}
@media (min-width: 992px)  {
    .navbar-large .site-logo {
        max-height: 48px;
    }
}
.navbar .nav {
    font-size: 14px;
    text-rendering: optimizeLegibility;
}
.navbar-nav {
    margin-left: -15px;
}
@media (min-width: 992px)  {
    .navbar-nav {
        margin-left: -20px;
    }
}
.navbar-nav.navbar-right {
    margin-left: 0;
}
@media (min-width: 768px)  {
    .navbar-nav.navbar-right: last-child {
        margin-right: -30px;
    }
}
.navbar .nav>li>a {
    color: #555;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
@media (min-width: 768px)  {
    .navbar .nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (min-width: 992px)  {
    .navbar .nav>li>a {
        max-height: 60px;
    }
    .navbar-large .nav>li>a {
        max-height: 80px;
        padding: 30px 20px;
    }
    .navbar-large .nav>li.menu-item-has-description>a {
        padding: 21px 20px 18px;
    }
}
.navbar-inverse .nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: #333;
    font-weight: 700;
}
.nav .menu-item-description {
    color: #999;
    font-size: 0.9em;
    font-style: italic;
}
.navbar .navbar-btn {
    margin-top: 13px;
    margin-bottom: 13px;
}
.nav .glyphicon {
    margin-right: 3px;
}
.navbar .nav li.dropdown:target>.dropdown-menu {
    display: block;
}
.caret {
    width: 6px;
    height: 6px;
    margin-left: 3px;
    margin-top: -3px;
    border-top: none;
    border-left: none;
    border-right: 1px solid;
    border-bottom: 1px solid;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.navbar .nav li.dropdown>.dropdown-toggle .caret, .navbar-inverse .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: inherit;
    border-bottom-color: inherit;
}
.dropdown-submenu .caret, .dropdown-submenu .dropdown-close {
    display: none;
}
.nav>li>a.dropdown-close {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    width: 5000%;
    height: 5000%;
    padding: 0;
    margin: 0 -1000%;
}
.navbar .nav li.dropdown:target>.dropdown-close {
    display: block;
    background: none;
}
.navbar .nav>li>a:hover, .navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.open>.dropdown-toggle .menu-item-description, .navbar .nav li.dropdown:target>.dropdown-toggle {
    color: #428bca;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background: #f9f9f9;
}
.navbar-inverse .nav>li>a:hover, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .nav li.dropdown.open>.dropdown-toggle, .navbar-inverse .nav li.dropdown:target>.dropdown-toggle {
    background: #333;
    color: #fff;
}
.navbar-inverse .nav>li>a:hover>.menu-item-description, .navbar-inverse .nav li.dropdown.open>.dropdown-toggle>.menu-item-description {
    color: #fff;
}
.navbar .nav>li>a.dropdown-close:hover, .navbar-inverse .nav>li>a.dropdown-close:hover {
    background: none;
}
.dropdown-menu {
    border-color: #ddd;
}
.nav>.mega-menu {
    position: static;
}
@media (min-width: 768px)  {
    .mega-menu>.dropdown-menu {
        left: 15px;
        right: auto;
        padding: 15px;
    }
    .mega-menu>.dropdown-menu {
        min-width: 750px;
        padding: 15px 30px;
    }
}
@media (min-width: 992px)  {
    .mega-menu>.dropdown-menu {
        min-width: 970px;
    }
}
@media (min-width: 1200px)  {
    .mega-menu>.dropdown-menu {
        min-width: 1080px;
    }
}
.mega-menu>.dropdown-menu>.menu-item {
    min-width: 216px;
}
@media (min-width: 992px)  {
    .mega-menu>.dropdown-menu>.menu-item {
        min-width: 212px;
    }
}
@media (min-width: 1200px)  {
    .mega-menu>.dropdown-menu>.menu-item {
        min-width: 187px;
    }
}
.mega-menu>.dropdown-menu>.menu-item>a {
    font-weight: 700;
}
@media (min-width: 768px)  {
    .mega-menu>.dropdown-menu>.menu-item>a {
        border-bottom: solid 1px #eee;
    }
}
.mega-menu .dropdown-submenu>.dropdown-menu {
    display: block;
    position: static;
    float: none;
    border: none;
    box-shadow: none;
}
@media (min-width: 768px)  {
    .mega-menu>.dropdown-menu>li {
        float: left;
        margin-left: 20px;
    }
}
.mega-menu>.dropdown-menu>li:first-child, .mega-menu>.dropdown-menu>li:nth-child(3n+1) {
    margin-left: 0;
}
@media (min-width: 992px)  {
    .mega-menu>.dropdown-menu>li: nth-child(3n+1) {
    margin-left: 20px;
}
    .mega-menu>.dropdown-menu>li:nth-child(4n+1) {
        margin-left: 0;
    }
}
@media (min-width: 1200px)  {
    .mega-menu>.dropdown-menu>li: nth-child(4n+1) {
    margin-left: 20px;
}
    .mega-menu>.dropdown-menu>li:nth-child(5n+1) {
        margin-left: 0;
    }
}
.mega-menu .dropdown-menu>li>a {
    padding: 6px 20px;
}
.dropdown-menu>li>a {
    padding: 4px 20px;
    color: #555;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.navbar .menu-item br {
    display: none;
}
@media (min-width: 992px)  {
    .navbar-large .menu-item br {
        display: inline;
    }
}
.navbar .menu-item .menu-item-description {
    display: none;
}
@media (min-width: 992px)  {
    .navbar-large .menu-item .menu-item-description {
        display: none;
        color: #999;
        font-size: 11px;
        font-style: italic;
        font-weight: 400;
        text-transform: none;
        -webkit-transition: color .25s ease, margin .25s ease;
        -moz-transition: color .25s ease, margin .25s ease;
        -ms-transition: color .25s ease, margin .25s ease;
        -o-transition: color .25s ease, margin .25s ease;
        transition: color .25s ease, margin .25s ease;
    }
    .navbar-large .menu-item .menu-item-description {
        display: inline;
    }
    .navbar-large .menu-item a:hover .menu-item-description {
        color: #428bca;
    }
    .navbar-large .active a:hover .menu-item-description {
        color: #bababa;
    }
}
.navbar-search {
    margin-top: 10px;
    -webkit-transition: margin .25s ease;
    -moz-transition: margin .25s ease;
    -ms-transition: margin .25s ease;
    -o-transition: margin .25s ease;
    transition: margin .25s ease;
}
@media (min-width: 992px)  {
    .navbar-large .navbar-search {
        margin-top: 25px;
    }
}
.navbar-search .btn {
    display: none;
}
.sidebar-navbar {
    display: none;
    float: right;
    max-height: 60px;
    padding-left: 18px;
    margin: 20px 0 20px 35px;
    overflow: visible!important;
    -webkit-transition: margin .25s ease;
    -moz-transition: margin .25s ease;
    -ms-transition: margin .25s ease;
    -o-transition: margin .25s ease;
    transition: margin .25s ease;
}
@media (min-width: 768px)  {
    .sidebar-navbar {
        display: block;
    }
}
@media (min-width: 992px)  {
    .navbar-large .sidebar-navbar {
        margin: 30px 0 30px 35px;
    }
}
.navbar-inverse .sidebar-navbar {
    border-left: solid 1px #555;
}
.sidebar-navbar .widget {
    padding: 0;
}

.subnav {
    margin: 80px 0;
}
.subnav-fixed {
    position: fixed;
    top: 60px;
    z-index: 1;
    width: 100%;
    margin: 0!important;
    background: #f9f9f9;
    border: 1px solid #eee;
    box-shadow: 0 0 4px rgba(0, 0, 0, .04);
}
.designfull-screen .subnav {
    margin: 80px 0 -40px;
}
.subnav .nav-pills {
    display: table;
    width: 100%;
    margin: 0;
    background: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 5px;
    font-weight: normal;
    overflow: hidden;
}
.subnav-fixed .nav-pills {
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
}
.subnav .nav-pills>li {
    display: table-cell;
    float: none;
    border-left: 1px solid #fff;
    border-right: 1px solid #f3f3f3;
    text-align: center;
}
.subnav .nav-pills>li:first-child {
    border-left: none;
}
.subnav .nav-pills>li:last-child {
    border-right: none;
}
.subnav .nav-pills>li>a {
    padding: 11px 18px;
    margin: 0;
    border-radius: 0;
    -webkit-transition: background-color .25s ease, color .25s ease, margin .25s ease;
    -moz-transition: background-color .25s ease, color .25s ease, margin .25s ease;
    -ms-transition: background-color .25s ease, color .25s ease, margin .25s ease;
    -o-transition: background-color .25s ease, color .25s ease, margin .25s ease;
    transition: background-color .25s ease, color .25s ease, margin .25s ease;
}
.subnav .nav-pills>.active>a, .subnav .nav-pills>.current-menu-item>a, .subnav .nav-pills>.active>a:hover, .subnav .nav-pills>.current-menu-item>a:hover, .subnav .nav-pills>.active>a:focus, .subnav .nav-pills>.current-menu-item>a:focus {
    color: #333;
    background-color: #eee;
}
